rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Grant full read & write permissions for all paths to support multi-tenant dynamically generated schemas
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
